@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #4b4b4b;
    background-color:#e7f8f8;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #4b4b4b;
}

.header {
    text-align: center;
}
.header h1 {
    margin: 10px 0;
}
.contact {
    margin: 10px 0;
    font-size: 14px;
}
.contact a {
    color: #4b4b4b;
    text-decoration: none;
}
.section {
    margin: 20px 0;
}
.section h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #4b4b4b;
    padding-bottom: 5px;
}
.item {
    margin-bottom: 15px;
}
.item h3 {
    margin: 0;
    font-size: 18px;
    color: #555;
}

summary {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

.item p {
    margin: 5px 0;
    font-size: 14px;
}
.skills ul {
    list-style: none;
    padding: 0;
}
.skills ul li {
    display: inline-block;
    background: #4b4b4b;
    color: #fff;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 4px;
}

a {
    color: #4b4b4b;
    font-size: 18px;
}

.img-container {
    display: flex;
    justify-content: center;
    margin: 1em;
}

img {
    width: 75%;
}